#content > section:nth-child(5) {
    width: 30%;
    display: inline-block;
    padding-left: 20%;
}

#content > section:nth-child(6) {
    width: 30%;
    display: inline-block;
}

li {
    text-align: left;
}